#container{
    border: 4px solid white;
    background: white;
    border-bottom: 4px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 16px;
    color: purple
}

.LOGO{
    font-size: 50px;
    gap: 8px;
    font-weight: 900;
}

#right{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
}

.text{
    border: 1px solid purple;
    background: purple;
    color: white;
    padding: 4px 8px;
    gap: 8px;
    border-radius: 5px;
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    gap: 8px;
    color: purple;
    background: purple;
}